body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    max-width: 900px;
    background-color: #F7F7F7;
    grid-template-areas:
        "destaque propaganda"
        "destaque video-lateral";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    padding: 35px;
    gap: 10px;
}

.destaque {
    grid-area: destaque;

}

.destaque img {
    margin-bottom: 12px;
    width: 100%;
}

.destaque .info-destaque p {
    margin-bottom: 9px;
    font-size: 14px;
}

.propaganda {
    grid-area: propaganda;
    background-color: #C4C4C4;
    height: 56px;
    width: 270px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 11px;
}

.videos-sugeridos {
    display: flex;
    flex-direction: column;
}

.videos-sugeridos .video-sugerido {
    display: flex;
    flex-direction: row;
    max-width: 270px;
    margin-bottom: 20px;
    gap: 5px;
}

.info-sugerido h2 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.info-sugerido p {
    font-size: 11px;
    margin-bottom: 3px;
}