body{
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

.container{
    display: grid;
    max-width: 900px;
    grid-template-areas:
    "destaque destaque propaganda"
    "destaque destaque video-lateral"
    ". . video-lateral";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
}

.destaque{
    grid-area: destaque;
    background-color: aqua;
}

.propaganda{
    grid-area: propaganda;
    background-color:#C4C4C4;
    height: 56px;
    width: 270px;
    text-align: center;
    line-height: 50px;
    font-size: 11px;
}

.videos-sugeridos{
    display: flex;
    flex-direction: column;
    
}

.video-sugerido{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;

}

.info-sugerido{
    font-size: 11px;
    width: 169px;
}

.info-sugerido h2{
    font-size: 14px;
    font-weight: 700;
}
